---
import Layout from '../layouts/common.astro'
---

<Layout title="Use this AWESOME tool">

	<!-- HERO SECTION -->
	<p class="text-center text-gray-500">Trusted by hundreds of companies</p>
	<button
		class="block text-white bg-green-500 px-5 py-3 mx-auto mt-10 font-bold uppercase rounded-lg"
	>
		Find out more
	</button>

	<!-- BENEFITS INTRO -->

	<div class="mt-20 text-center px-10 mx-auto max-w-3xl">
		<p class="mt-2 text-2xl font-extrabold text-gray-900 tracking-tight">
			Everything you need to know about this app
		</p>
		<p class="mt-5 text-xl mx-auto max-w-prose text-gray-500 tracking-tight">
			A great list of things it allows you to do
		</p>

		<div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-8">
			<div class="bg-gray-50 rounded-lg px-6 pb-8">
				<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">First benefit</h3>
				<p class="mt-5 text-gray-500">
					Lorem ipsum dolor sit amet.
				</p>
			</div>

			<div class="bg-gray-50 rounded-lg px-6 pb-8">
				<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Second benefit</h3>
				<p class="mt-5 text-gray-500">
					Lorem ipsum dolor sit amet.
				</p>
			</div>

			<div class="bg-gray-50 rounded-lg px-6 pb-8">
				<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Third benefit</h3>
				<p class="mt-5 text-gray-500">
					Lorem ipsum dolor sit amet.
				</p>
			</div>

			<div class="bg-gray-50 rounded-lg px-6 pb-8">
				<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Fourth benefit</h3>
				<p class="mt-5 text-gray-500">
					Lorem ipsum dolor sit amet.
				</p>
			</div>
		</div>
	</div>
</Layout>